{{define "head"}}
<link rel="stylesheet" href="/static/css/form.css" type="text/css">
<title>Draft A Placement Drive</title>
{{end}}

{{define "main"}}
<form action="/create" method="post">
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <div>
        <label class="required" for="title">Title:</label>
        <input type="text" name="title" value="{{.Form.Title}}" {{with .Form.FieldErrors.title}} class="error" {{end}}>
        {{with .Form.FieldErrors.title}} <label class='error'>{{.}}</label> {{end}}
    </div>
    <div>
        <label class=" required" for="company">Company:</label>
        <input type="text" name="company" value="{{.Form.Company}}" {{with .Form.FieldErrors.company}}class="error"
            {{end}}>
        {{with .Form.FieldErrors.company}} <label class='error'>{{.}}</label> {{end}}
    </div>
    <div>
        <label class="required" for="description">Description:</label>
        <textarea name="description" rows="8" {{with .Form.FieldErrors.description}} class="error"
            {{end}}>{{.Form.Description}}</textarea>
        {{with .Form.FieldErrors.description}} <label class='error'>{{.}}</label> {{end}}
    </div>
    <div>
        <label class="required" for="date">Date:</label>
        <input type="date" name="date" value="{{.Form.Date}}" {{with .Form.FieldErrors.date}} class="error" {{end}}>
        {{with .Form.FieldErrors.date}} <label class='error'>{{.}}</label> {{end}}
    </div>
    <div>
        <input type="submit" value="Draft Drive">
    </div>
</form>
{{end}}