{{define "head"}}
<link rel="stylesheet" href="/static/css/drive.css" type="text/css">
<link rel="stylesheet" href="/static/css/form.css" type="text/css">
<title>{{.Drive.Title}}</title>
{{end}}

{{define "main"}}
{{with .Flash}}
<div class='flash'>{{.}}</div>
{{end}}
{{with .Drive}}
<article>
    <div class="heading">
        <h1>{{.Title}}</h1>
        <time>{{.Date | humanDate}}</time>
    </div>
    <hr>
    <div class="body">
        <h3>{{.Company}}</h3>
        <p>{{.Description}}</p>
        <p>Roles {{.Roles}}</p>
    </div>
</article>
{{end}}

{{if .Roles}}
{{range .Roles}}
{{template "roleTable" .}}
{{end}}
{{end}}
{{template "role.htmx" .}}
{{end}}