{{define "head"}}
<link rel="stylesheet" href="/static/css/home.css" type="text/css">
<title>Upcoming Drives</title>
{{end}}

{{define "main"}}
{{if .Drives}}
{{range .Drives}}
<a href="/drive/{{.ID}}">
    <article{{if (.Date | isDone)}} class="expired" {{end}}>
        <div class="heading">
            <h1>{{.Title}}</h1>
        </div>
        <hr>
        <div class="body">
            <h3>{{.Company}}</h3>
            <div class="info">
                <p>Number of Roles: {{.Roles}}</p>
                <time>{{.Date | humanDate}}</time>
            </div>
        </div>
        </article>
</a>
{{end}}
{{else}}
<p>Nothing to see yet.</p>
{{end}}
{{end}}