{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    {{block "head" .}}
    <title>SJEC Placement Repository</title>
    {{end}}
</head>

<body>
    <header>
        <h2><a href="/">SJEC Placement Repository</a></h2>
        {{template "nav" .}}
    </header>
    <div class="container">
        <main>
            {{template "main" .}}
        </main>
    </div>
    {{template "footer" .}}
</body>

</html>
{{end}}