{{define "roleTable" }}
<table>
    <tr>
        <td colspan="2">
            <h2>{{.Profile}}</h2>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {{.Description}}
        </td>
    </tr>
    <tr>
        <td>Qualification</td>
        <td>{{.Qualification}}</td>
    </tr>
    {{if .Cutoff.Valid}}
    <tr>
        <td>Cut-off</td>
        <td>{{.Cutoff.String}}</td>
    </tr>
    {{end}}
    {{if .Location.Valid}}
    <tr>
        <td>Location</td>
        <td>{{.Location.String}}</td>
    </tr>
    {{end}}
    {{if .Stipend.Valid}}
    <tr>
        <td>Internship Stipend</td>
        <td>Rs. {{.Stipend.Int32}} per month</td>
    </tr>
    {{end}}
    {{if .CTC.Valid}}
    <tr>
        <td>Cost-To-Company</td>
        <td>{{.CTC.Float64}} LPA</td>
    </tr>
    {{end}}
    {{if .ServiceAgreement.Valid}}
    <tr>
        <td>Service Agreement</td>
        <td>{{.ServiceAgreement.Float64}} years</td>
    </tr>
    {{end}}
</table>
{{end}}