article {
    width: 800px;
    margin: 2em 0;
    border: 4px solid #3A5A40;
    background-color: #e9f5db;
}

article.expired {
    border: 4px dashed #8d99ae;
    background-color: #f8f9fa;
    color: #6c757d;
}

.heading {
    padding: 0.2em 1em;
    background-color: #cfe1b9;
}

.heading h1 {
    text-decoration: none;
}

.expired .heading {
    background-color: #e5e5e5;
}

article h1, h3 {
    line-height: 50%;
}

article hr {
    margin: 0;
    height: 0;
    border: 2px solid #3A5A40;
}

.expired hr {
    border: 2px solid #ced4da;
}

.body {
    padding: 0.2em 1em;
}

.body h3::before {
    content: "\2022";
    margin-right: 0.2em;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info p {
    margin: 0.5em 0;
}